/* GENERAL STUFF*/
html, body{
	height: 100%;
	width: 100%;
}

h1,h2,h3,h4,h5,h6
{ 
	text-align:center;
}

div.container-fluid{
	background-color:black;
	color: silver;
	text-align: center;
}

.selector-for-some-widget {
	box-sizing: content-box;
}

.content {
	padding: 16px;
}

/* END GENERAL STUFF*/

/* HEADER & FOOTER */

div.jumbotron {
	overflow: hidden;
	color:silver;
	margin-bottom: 0;
}

footer div.jumbotron.text-center{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}

/* END HEADER & FOOTER */

/*NAVBAR STYLING */
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar.navbar-inverse{
	margin-bottom:0;
	border:0;
}

.navbar-inverse .navbar-nav > li > a{
	color: cornflowerblue !important;
}

ul.dropdown-menu > li > a:hover{
	background-color: cornflowerblue;
}

a.navbar-brand:hover{
	color: cornflowerblue !important;
}

.navbar .navbar-collapse {
	text-align: center;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 60px;
}
/* END NAVBAR STYLING */

/* CAROUSEL STYLING */

/* center carousel images */
.carousel-inner img {
	margin: auto;
}

/* END CAROUSEL STYLING */


