html, body{
	height: 100%;
	width: 100%;
}

div.container-fluid{
	background-color:black;
	color: silver;
	text-align: center;
}

.selector-for-some-widget {
	box-sizing: content-box;
}

h1,h2,h3,h4
{ 
	text-align:center;
}

div.jumbotron {
	overflow: hidden;
	color:silver;
	margin-bottom: 0;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar.navbar-inverse{
	margin-bottom:0;
	border:0;
}

.navbar .navbar-collapse {
	text-align: center;
}

/* Page content */
.content {
	padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 60px;
}

.carousel-inner img {
	margin: auto;
}

footer div.jumbotron.text-center{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}
