html, body{
	height: 100%;
	width: 100%;
}

body{
	background-image: url("../img/header-background.jpg");
}

h1,h2,h3,h4,h5,h6
{ 
	text-align:center;
}

div.container-fluid{
	color: silver;
	text-align: center;
}

.selector-for-some-widget {
	box-sizing: content-box;
}

.content {
	padding: 16px;
}

div.jumbotron {
	overflow: hidden;
	color:silver;
	margin-bottom: 0;
}

footer div.jumbotron.text-center{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar.navbar-inverse{
	margin-bottom:0;
	border:0;
}

.navbar-inverse .navbar-nav > li > a{
	color: cornflowerblue !important;
}

ul.dropdown-menu > li > a:hover{
	background-color: cornflowerblue;
}

a.navbar-brand:hover{
	color: cornflowerblue !important;
}

.navbar .navbar-collapse {
	text-align: center;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}

.carousel-inner img {
	margin: auto;
	border-radius: 5px;
}

footer{
	color:black;
}

@media only screen and (max-width: 750px) {
	footer{
		color: white;
	}
}
